
.color1 {background-color: #A07E52; color: white;} 
.color2 {background-color: #E9E3D0;}
.color3 {color: #A07E52;} 
.color4 {background-color: #bd9e76;}

.logo2 { display: none; }
.logo1:hover {filter: brightness(0.3);}

.fotohome2 { display: none; }
.fotohome { display: block; }

.w1 {width: 300px;}
.txtbarra {font-size:medium;}

.carousel-inner img { width: 100%; height: 100%;}

.text-white:hover {background-color: #00000083;}

figure {transition: 0.5s;}
figure:hover {filter: saturate(1.3); transform: scale(1.1);}

.videos:hover {filter: brightness(0.5);}

@media (max-width: 800px) {
    .logo { display: none; }
    .logo2 { display: block; }
    .fotohome { display: none; }
    .fotohome2 { display: block; }
    }