.color1 {background-color: #A07E52; color: white;} 
.color2 {background-color: #E9E3D0;}
.color3 {color: #A07E52;} 

.logo {width: 200px;}

.w1 {width: 300px;}

.carousel-inner img { width: 100%; height: 100%;}
